@model TestApp.MVC.Data.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar cliente</h1>

<h3>¿Estás seguro que deseas eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" style="background-color:white; color: black" value="Borrar" class="btn btn-danger" />
        <a class="btn" style="background-color:white" asp-action="Index">Volver</a>
    </form>
</div>
