@model TestApp.MVC.Data.Oficina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Oficina</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn" style="background-color:white" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn" style="background-color  :white" asp-action="Index">Volver al listado</a>
</div>
