@model IEnumerable<TestApp.MVC.Data.Oficina>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice Oficinas</h1>
<p></p>
<p>
    <a class="btn btn-primary" style="background-color: black; color: white" asp-action="Create"><b>Nueva</b></a>
</p>
<input id="myInput" type="text" placeholder="Buscar..." style="border:solid 2px">
<br>
<br>
<table class="table table-striped lista-chats" style="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                <a class="btn" style="color:white" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn" style="color: white" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a button data-id="@item.Id" class="btn deleteBtn" style="color:white" type="button">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="oficinaDeleteForm">
    <input type="hidden" id="oficinaId" name="Id" />

</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

        <script>
                $(function(){
                        $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡Estos cambios no son reversibles!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, bórralo!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            '¡Borrado!',
                            'Tu archivo ha sido borrado con éxito.',
                            'Éxito'
                        )
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#oficinaId').val(id);
                        $('#oficinaDeleteForm').submit();
                    }
                })
                        })
                })
        </script>


}
